body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* ให้ canvas อยู่ด้านหลังสุด */
  display: block;
}
